.navbar {
   
   width: 90%;
    margin: auto;
    
    background-color:rgb(204, 219, 230);
    border: 2px solid transparent;
    box-shadow: 0px 0px 5px rgb(138, 177, 190);
    /* height: 5rem; */
    border-radius: 10px;
    
  }
 
  
.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    /* height: 70px; */
    border-radius: 30px;
    text-align: center;
    align-items: center;
   flex-wrap: wrap;

  
    
.logoutbutton{
  color: black;
}
}
button Link{
  list-style: none;
  text-decoration: none;
}


.headinglink{
  text-decoration: none;
  color: #32565a;
 
}










.navbar button {
    background-color:  rgb(196, 211, 223); /* Transparent background */
    color: #fff; /* White text color */
    padding: 1rem 2rem; /* Adjust padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.2s ease-in-out;
   
  }

  @media screen and (max-width: 600px) {
    .navbar ul Button{
      display: flex;
      padding: .5rem;
      flex-direction: column;
      
    }  
    }

  .navbar button:hover{
    box-shadow: 0px 0px .1px rgb(138, 177, 190);
    background-color: #82979a;
    color: #f1eff1;

  }
  .navbar button Link :hover{
    color: #f1eff1;
  }


.link{
  list-style: none;
  text-decoration: none;
  color: #32565a;
}




  
  .nav-link {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit color from navbar */
    margin-right: 20px; /* Add spacing between links */
    font-weight: bold; /* Make links bolder */
  }
  
  .nav-link:hover {
    color: #e0e0e0; /* Change color on hover */
  }
  


  @media screen  and (max-width:400px){
    .navbar{
      width: 100%;
      font-size: small;
    }

    .nabar ul{
    justify-content: space-evenly;
    margin: 0px;
    }

    .nav-link{
      margin-right: 0px;
    }
    
  }