.outerbody{
    width: 80%;
    margin: 1rem auto;
    border: 2px solid rgb(122, 156, 171);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 200px;
}


.buttondiv{
    display: flex;
   align-items: center;
   gap: 1rem;
}

.buttondiv button{
    height: 35px;
    margin:.5rem;
}

.buttondiv button {
    background-color:  rgb(0, 145, 255); /* Transparent background */
    color: #fff; /* White text color */
    padding: .5rem 2rem; /* Adjust padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}