.outerbody{
    width: 80%;
    max-width: 1600px;
    margin: 1rem auto;
    border: 2px solid rgb(122, 156, 171);
    text-align: center;
    display: flex;
    justify-content: space-around;
   
    height: 200px;
    box-shadow: 0px 0px 10px rgb(138, 177, 190);
    
}




.buttondiv{
    display: flex;
   align-items: center;
   gap: 1rem;
   
}



.contentdiv{
    display: flex;
    width: 60%;
   
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

}

.buttondiv button{
    height: 35px;
    display: flex;
    width: 50%;
    margin:.5rem;
}

.buttondiv button {
    background-color:  rgb(0, 145, 255); /* Transparent background */
    color: #fff; /* White text color */
    padding: .5rem 2rem; /* Adjust padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.2s ease-in-out;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}



@media screen and  (max-width: 450px)
{
    .outerbody{
        width: 100%;
        margin: 1rem auto;
    }

    .buttondiv{
        width: 40%;
        flex-direction: column;
       margin-top: .5rem;
       flex-wrap: wrap;
        align-items: center;
    }
    .buttondiv button{
        padding: .5rem .5rem;
        width: 40px;


    }
    
 }